*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
.cart{
    position: relative;
    font-size: 20px;
}
.cartcount{
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
}
.hero{
    background-color: #f5f5f5;
    padding: 60px 0;
}
.hero-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.hero-text{
    flex: 1;
}
.hero-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #222;
}
.hero-text p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}
.btn{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: #444;
}
.hero-image img{
    width: 100%;
    max-width: 450px;
}
.products{
    padding: 60px 0px;
}
.sect-title{
    align-items: center ;
    font-size: 32px;
    margin-bottom: 40px;
}
.prod-grid{
    display: grid;
    grid-template-columns: repeat(3,1 fr);
    gap: 30px;
}
.prod-card img{
    width: 100%;
    max-width: 250px;
    margin-bottom: 15px;
}
.prod-card{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.prod-card :hover{
    transform: translateY(-5px);
}
.prod-card h3{
    margin-bottom: 10px;
}
.price{
    font-weight: bold;
    margin-bottom: 15px;
}
.btn-small{
    padding: 8px 18px;
    font-size: 14px;
}
.advantages{
    background-color: #f9f9f9;
    padding: 60px 0;
}
.advantages .container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.advantage{
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
}
.advantage .icon{
    font-size: 40px;
    margin-bottom: 15px;
    display: block;
}
.advantage h3{
    margin-bottom: 10px;
}
.cta{
    background-color: #000;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}
.cta h2{
    margin-bottom: 20px;
    font-size: 28px;
}
/* FOOTER */
.footer {
    background-color: #f1f1f1;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #555;
}
@media (max-width: 768px) {

    .hero-content {
        flex-direction: column;
        text-align: center;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .advantages .container {
        flex-direction: column;
    }

    .nav ul {
        gap: 10px;
    }

}
.shop-header{
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0px;
}
.shop-header h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.contact-header{
    background-color: #f5f5f5;
    text-align: center;
    padding: 40px 0px;

}
.contact-header h2{
    font-size: 32px;
    margin-bottom: 10px;

}
.contact{
    padding: 60px 0px;
}
.contact-content{
    display: flex;
    gap: 40px;
}
.contact-form{
    flex-direction: column;
    flex: 1;
    display: flex;
    gap: 15px;
}
.contact-form label{
    font-size: 14px;
    flex-direction: column;
    display: flex;
}
.contact-form input,
.contact-form textarea{
    padding: 10px;
    border:  1px solid #ccc;
    border-radius: 5px;
}
.contact-form{
    min-height: 120px;
    resize: vertical;
}
.contct-info{
    flex: 1;
}
.contct-info h3{
    margin-bottom: 15px;
}
@media (max-width: 768px){
    .contact-content{
        flex-direction: column;
    }
}